<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.nku.cs.csc460.team2"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:name="edu.nku.cs.csc440.team2.SMILCloud"
    			 android:icon="@drawable/cloud_application_icon" 
    			 android:label="@string/app_name">
        <activity android:name="edu.nku.cs.csc440.team2.inbox.Inbox"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="landscape">
                  <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.Composer"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.AudioProperties"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.ImageProperties"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.TextProperties"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.VideoProperites"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.RegionEditor"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.AudioBrowser"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.ImageBrowser"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
        <activity android:name="edu.nku.cs.csc440.team2.composer.VideoBrowser"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape" >
        </activity>
		<service android:name="edu.nku.cs.csc440.team2.service.SmilService"></service>
    </application>
    
    <uses-permission
    	android:name="android.permission.INTERNET" />
    <uses-permission
    	android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk android:minSdkVersion="9" />

</manifest> 